<div id="home-search-container">
  <div class="container">
    <div class="row">
        <div class="widget pull-right">
            <div class="span12 head-container">

							<h3><center>Featured Techniques</center></h3>

							<p><%= link_to "Add a Technique", new_technique_path, class: "btn btn-large btn-realto " %></p>

							<div class="TechniqueBox">
								<table width="80%">
								  <% @all_techniques.each_slice(3) do |row| %>
								    <tr> 
								       <% row.each do |t| %>
								        <td>
								  			<div class="MiniBox">
								        	Name: <%= t.name %><br>
													Difficulty: <%= t.difficulty %><br>
													Notes: <%= t.notes %><br>
													Martial Art: <%= t.martial_art %><br>
													Form Type: <%= t.form_type %><br>
													Belt Level: <%= t.belt_color %><br>
													<iframe src='https://www.youtube.com/embed/<%= YouTubeAddy.extract_video_id(t.link) %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
													<%= button_to "Delete", delete_path(id: t.id), class: "btn btn-medium btn-realto ", :method => :patch %>
												</div>
												</td>
								       <% end %>
								    </tr>
								  <% end %>
								</table>
							</div>	

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>