
<p><%= link_to "Add a Technique", new_technique_path, class: "btn btn-large btn-realto " %></p>

<% @all_techniques.each do |t| %>

	Name: <%= t.name %><br>

	Difficulty: <%= t.difficulty %><br>

	<% if t.notes != "" %>
		Notes: <%= t.notes %><br>
	<%else%>
		Notes: NONE<br>
	<%end%>

	Martial Art: <%= t.martial_art %><br>
	Form Type: <%= t.form_type %><br>
	Belt Color: <%= t.belt_color %><br>

<% end %>		
								