<div class="container page-content">
  <div class="row">
    <div class="span8">
      <div class="box-container">
        <div class="padding30">
          <div class="white-box">
          <h2 class="page-title">Add a Technique</h2>

            <%= form_for @technique do |f| %>
              <%= f.label :name%>
              <%= f.text_field :name%>
              <%= f.label :difficulty %>
              <%= f.select :difficulty, [['Beginner','Beginner'],['Intermediate','Intermediate'],['Expert','Expert']] %>
              <%= f.label :notes %>
              <%= f.text_area :notes%><br />
              <%= f.label :martial_art %>
              <%= f.select :martial_art, [['Karate','Karate'],['Taekwondo','Taekwondo'],['KungFu','KungFu'],['Kickboxing','Kickboxing']] %>
              <%= f.label :form_type %>
              <%= f.select :form_type, [['Self-Defense','Self-Defense'],['Kata','Kata'],['Weapon','Weapon'],['Mass Attack','Mass Attack']] %>
              <br>
              <%= f.submit class: "btn span3 btn-realto-form btn-large" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- .span4 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->
